
body {
}

h1 {
    color: indianred;
    position: relative;
    margin-left: 1em;
}

.task {
    color: indianred;
    position: relative;
    background-color: lightgray;
    padding: 1em 1em 1em 1em;
    margin: 1em 1em 1em 1em;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    border-radius: 1%;
}
